@font-face {
    font-family: 'Mont-reg';
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family:'Mont-bold';
    src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family:'Robot-light';
    src: url(/fonts/Roboto-Light.ttf);
}
%title{
    font-family:'Mont-bold';
    text-align: center;
    font-size: 26px;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0 auto;
}
.container{
    max-width:940px;
    width:100%;
    margin:0 auto;
}
.intro{
    background-image: url(img/bg.png) ;
    background-repeat: no-repeat;
    background-size: cover ;
    height:700px;
}
.header__inner{
    padding-top: 50px;
    display:flex;
    justify-content: space-between;
    color:white;
    font-family: 'Mont-reg';
}
.header__nav{
    font-size: 14px;
    margin-right: 40px;
}
.nav__sign{
    margin-left:19px;
    padding: 7px 15px 7px 15px;
    border: 2px solid white;
    border-radius: 40px;
}
/* Intro */
.intro__title{
    font-family: 'Mont-bold';
    font-size: 52px;
    color: white;
    text-align: center;
    margin: 153px auto 0px;
    width: 50%;
}
.intro__subtitle{
    font-family: 'Robot-light';
    margin-top:25px;
    text-align: center;
    font-size: 24px;
    color: white;;
}
.intro__button{
    display: flex;
    margin-top:33px;
    justify-content: center;
}
.button{
    padding:12px 18px;
    color: white;
    background-color:rgba(255, 78, 80, 1);
    border-radius: 40px;
    font-family:'Mont-bold';
    font-size: 14px;
}
/* about */
.about{
    padding:89px 0px 98px 0px;
}
.about__title{
  @extend %title;
}
.about__item{
    margin-top:35px;
    display: flex;
}
.about__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:33%;
    height:400px;
    margin-left: 20px;
    background-image:url(img/step1.png);
    &:first-child{
        margin-left: 0px;
    }
    &:nth-child(2){
        background-image:url(img/step2.png);
    }
    &:nth-child(3){
        background-image:url(img/step3.png);
    }
}

.about__container{
    max-width: 250px;
    margin: 0 auto;
}
.about__button{
    margin-bottom: 25px;
}
.knob{
    color: white;
    text-transform: uppercase;
    padding:5px 14px 2px 14px;
    background-color: rgba(255, 78, 80, 1);
    border-radius: 40px;
    font-family: 'Mont-reg';
    font-size: 10px;
    letter-spacing: 2px;
}
.about__caption{
    font-family:'Mont-bold';
    font-size: 24px;
    line-height: 26px;
    color: white;
    text-align: left;
    margin-bottom: 18px;
}
.about__subtitle{
    line-height: 14px;
    font-family:'Robot-light';
    color:#E3E3E3;
    font-size: 14px;
    margin-bottom: 19px;
}
.communication__title{
    margin-top: 89px;
    @extend %title;
}
.communication__item{
    display: grid;
    grid-template-columns:25% 25% 25% 25% ;
    grid-template-rows: auto;
    margin: 35px auto;
}
.communication__box{
    margin-left:19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:first-child{
        margin-left: 0px;
    }
}
.communication__logo{
    display: flex;
    justify-content: center;
}
.communication__caption{
    margin-top:19px;
    font-family:'Mont-bold';
    font-size: 14px;
    line-height:17px;
    text-align: center;
}
.communication__subtitle{
    font-family:'Robot-light';
    margin-top: 22px;
    line-height: 14px;
    font-size: 14px;
    color:#666666;
    text-align: center;
}
.communication__place{
    text-align: center;
    margin: 53px auto 0px;
}
.communication__button{
    font-family:'Mont-bold';
    border:2px solid rgba(255, 78, 80, 1);
    border-radius: 40px;
    font-size: 14px;
    color:#FF4E50;
    padding:12px 19px;
}
.benefits__title{
    @extend %title;
}
/* benefits */
.benefits__item{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 310px 310px 310px;
    gap:20px;
}
.benefits__box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Sport.png);
    &:nth-child(2){
        background-image: url(img/Bitmap.png);
    }
    &:nth-child(3){
        background-image:url(img/scale.png);
    }
    &:nth-child(4){
        background-image:url(img/games.png);
    }
    &:nth-child(5){
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        background-image:url(img/col.png);
    }
    &:nth-child(6){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        background-image:url(img/relax.png);
    }
    &:nth-child(7){
        background-image:url(img/travel.png);
    }
    .benefits__caption{
        font-family:'Mont-bold';
       font-size: 22px;
       color: rgb(48, 26, 26);
    }
}
.offer{
    padding:89px 0px 100px 0px; 
}
.offer__title{
    @extend %title;
}
.offer__subtitle{
    font-family:'Robot-light';
    text-align: center;
    margin-top:49px;
    font-size: 18px;
    color:#666666;
}
.offer__item{
    align-items: center;
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.offer__input{
    width:31.8%;
    height:40px;
    margin-right:8px;
    border-radius: 2px rgba(0, 0, 0, 0.0733);
    padding-left: 10px;
}
.offer__button{
    padding:12px 25px 12px 25px;
    margin-left:5px;
    color: white;
    background-color:rgba(255, 78, 80, 1);
    border-radius: 40px;
    font-family:'Mont-bold';
    font-size: 14px;
}
/* footer */
.footer{
    padding-bottom: 30px;
}
.footer__item{
    display: grid;
    grid-template-columns:1fr 1fr 1fr auto ;
    grid-template-rows: 180px;
    margin-top:38px;
}
.footer__box{
    display: flex;
    &:nth-child(2){
        margin-left:3px;
        flex-direction: column;
    }
    &:nth-child(4){
        flex-direction: column;
        align-items: flex-end;
    }
}
.footer__caption{
    font-size: 16px;
    font-family: 'Mont-reg';
    color:rgba(255, 78, 80, 1);
}
.footer__title{
    font-size: 14px;
    font-family:'Mont-bold';
}
.footer__subtitle{
    font-family:'Robot-light';
    margin-top:11px;
    font-size: 14px;
    color:rgba(153, 153, 153, 1);
}
.footer__title.active{
    margin-left:9px;
}
.footer__text{
    font-family:'Mont-bold';
    font-size: 10px;
    color: #CCCCCC;
    letter-spacing: 1px;
}
.footer__logo{
    margin-top:7px;
}
@media screen and(max-width:769px) {
    .about__container{
        max-width: 196px;
    }
    .comm__logo{
        width: 70%;
    }
    .communication__item{
        grid-template-columns:25% 25%  ;
        grid-template-rows: 1fr 1fr;
        row-gap: 55px;
        justify-content: center;
    }
}
@media screen and(max-width:496px) {
    .intro__title{
        font-size: 30px;
        width: 100%;
    }
    .intro__subtitle{
        font-size: 18px;;
    }
    .header__logo{
        display: none;
    }
    .header__inner{
        justify-content: center;
    }
    .about__item{
        display: block;
    }
    .about__box{
        margin: 10px 0px;
        width: 100%;
        background-size: cover;
        &:first-child {
           
        }
    }
    .about__container{
        margin-left:20px;
        max-width: 80%;
    }
    .communication__item{
        grid-template-columns: 40%  ;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 55px;
    }
    .communication__box{
        margin-left:0px;
    }
    .communication__button{
        padding:12px 74px;
    }
    .about__item{
        display: block;
    }
    .container{
        max-width: 496px;
        margin-left:10px;
    }
    .benefits__item{
        display: block;
    }
    .benefits__box{
        height: 120px;
        background-size: cover;
        background-position: center;
    }
    .offer__item{
        display: block;
    }
    .offer__button{
        text-align: center;
    }
    .offer__input{
        width: 100%;margin-bottom: 10px;
    }
    .footer__item{
        display: block;
        text-align: center;
    }
    .footer__box{
        display: block;
    }
    .footer__title{
        margin-top:10px;
    }
}
